{% extends "base.html" %}

{% block head %}

<title>Category</title>
<link rel="stylesheet" href="{{ url_for('static', filename='category.css') }}">
<script src="{{ url_for('static', filename='category.js') }}"></script>
{% endblock %}


{% block content %}

<!-- Creating the navigation bar -->
<div class="container-fluid navi">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a href="#" class="navbar-brand">Catalog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            {% if session['email'] %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{{ url_for('add_item') }}"><button type="button" class="btn login">
                <i class="fa fa-caret-down"></i> Add item</button></a></li>
                <li class="nav-item">
                <a href="{{ url_for('logout') }}"><button type="button" class="btn login">
                <i class="fa fa-sign-out"></i> Logout</button></a>
                </li>
                <li class="nav-item"><img src="{{ session['picture'] }}" alt="#" width="42" height="37"></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a href="{{ url_for('login') }}"><button type="button" class="btn login">Login</button></a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</div>

<!-- Flashing message -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="list-unstyled text-center">
            {% for message in messages %}
            <li>
            <div class="alert alert-success alert-dismissable">
             <button class="close" data-dismiss="alert" type="button">&times</button>
            {{ message }}</div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<!-- Creating the section for categories and latest items -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header text-center"><i class="fa fa-list"></i> &nbsp Category</div>
                <div class="card-body lists">
                    <ul>
                        <li><a href="{{ url_for('category', name='Sports') }}">Sports ({{sports}})</a></li>
                        <li><a href="{{ url_for('category', name='Books') }}">Books ({{books}})</a></li>
                        <li><a href="{{ url_for('category', name='Electronics') }}">Electronics ({{electronics}})</a></li>
                        <li><a href="{{ url_for('category', name='Shoes') }}">Shoes ({{shoes}})</a></li>
                        <li><a href="{{ url_for('category', name='Skincare') }}">Skincare ({{skincare}})</a></li>
                        <li><a href="{{ url_for('category', name='Accessories') }}">Accessories ({{accessories}})</a></li>
                        <li><a href="{{ url_for('category', name='Mobiles') }}">Mobiles ({{mobiles}})</a></li>
                        <li><a href="{{ url_for('category', name='Gift items') }}">Gift items ({{gifts}})</a></li>
                    </ul>
                </div>
            </div>
            {% if 'email' in session %}
            <!-- Creating My items section -->
            <a href="{{ url_for('myitems') }}" class="myitems"><button class="btn btn-success btn-block">My items</button></a>
            {% endif %}
        </div>
        <!-- Creating the specific category items section -->
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header" id="catName">{{ name }}</div>
                <div class="card-body">
                    {% for item in items %}
                    <a href="{{ url_for('item', cname=item.category, iname=item.item) }}" class="item">
                    <figure>
                        <img src="/static/images/{{ item.image }}" alt="#" width="200">
                        <figcaption class="text-center">{{ item.item }}</figcaption>
                    </figure>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}