{% extends "base.html" %}
{% block head %}

<title>My items</title>
<link rel="stylesheet" href="{{ url_for('static', filename='myitems.css') }}">

{% endblock %}

{% block content %}

<!-- Creating the navigation bar -->
<div class="container-fluid navi">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a href="#" class="navbar-brand">Catalog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            {% if session['email'] %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{{ url_for('add_item') }}"><button type="button" class="btn login">
                <i class="fa fa-caret-down"></i> Add item</button></a></li>
                <li class="nav-item">
                <a href="{{ url_for('logout') }}"><button type="button" class="btn login">
                <i class="fa fa-sign-out"></i> Logout</button></a>
                </li>
                <li class="nav-item"><img src="{{ session['picture'] }}" alt="#" width="42" height="37"></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a href="{{ url_for('login') }}"><button type="button" class="btn login">Login</button></a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-11 mx-auto">
			<div class="card">
				<div class="card-header text-center">
					<h4 class="card-title">My Items ({{ total }})</h4>
				</div>
				{% if items %}
				<div class="card-body">
                    {% for item in items %}
                    <a href="{{ url_for('item', cname=item.category, iname=item.item) }}" class="item">
                    <figure>
                        <img src="/static/images/{{ item.image }}" alt="#" width="200">
                        <figcaption class="text-center">{{ item.item }}</figcaption>
                    </figure>
                    </a>
                    {% endfor %}
				</div>
				{% else %}
				<div class="jumbotron text-center">
					<h3>Oops! It's Empty <i class="fa fa-battery-quarter"></i></h3>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}