/* Styling the Navbar */

.navi, .navbar {
	background-color: #8bd6a0 !important;
}

.login {

	border-radius: 1px;
	background-color: #c9fcd9;
	cursor: pointer;
	font-weight: bold;
}

.login:hover {
	background-color: #00ff6f;
}

.navbar-brand {

	color: black !important;
	font-weight: bold;
}

.nav-item button {
	margin-right: 20px;
}

/*Styling the Categories section*/

.card {

	margin-top: 15px;
}

.card-header {
	font-weight: bold;
	background-color: #c9fcd9;
	word-spacing: 2px;
	letter-spacing: 1px;
}

.btn-block {
	cursor: pointer;
	border-radius: 1px;
}